@import "tailwindcss";








/* 🔹 Common Reusable Button Style */
@layer components {
  .btn-primary {
    @apply bg-[#00BDB6] text-white font-medium text-sm md:text-base px-4 md:px-5 py-2.5 rounded-md shadow-sm hover:bg-[#0faea7] transition duration-200 active:scale-95 focus:outline-none focus:ring-2 focus:ring-[#0faea7]/50 cursor-pointer;}
  }



:root {
  --paragraph-color:#be06fc;
  --heading-color:red;
  
  /*fontsize*/
  --heading-size:30px;
}

.heading-size {
  font-size: var(--heading-size);
  color:var(--heading-color)
}

.paragraph{
  color:var(--paragraph-color);
  font-size: var(--heading-size);

}